<!doctype html>
<html>
<head>
<link  rel="stylesheet" href="lib/bootstrap-4.31-dist/css/bootstrap.min.css">
<script src="lib/jquery-3.41.min.js"></script>
<script src="popper.min.js"></script>
<script src="lib/bootstrap-4.31-dist/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Products</h1>

</body>
</html>